section {
  width: 100%;
  height: calc(75vh - 60px);
  background-color: #e0e0e0;
  background-image: url(/images/PXL_20230917_113614577-Photoroom.png), url(/images/abstract-pattern-design/OC1Y8L0.jpg);
  background-size: 100vh, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  section {
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .top-heading {
    display: flex;
    font-size: 8vw;
    width: 100vw;
    margin: 5rem 2rem 0 1rem;
  }

  .bottom-heading {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2rem 1rem 0 0;
    font-size: 6vw;
  }
}
